$primaryColor: #55AA55;
$body-background-color: #fafafa;
$link-color: #26a69a;
$black-color: black;
$grey-color: #aaaaaa;
$light-gray-color: #dddddd;
$light-orange-color: #ffaa33;
$very-light-orange-color: #ffbb55;
$error-color: #ff3333;
$error-light-color: #ffaaaa;
$success-color: #33aa33;
$success-light-color: #aaffaa;