@import 'materialize/materialize';

@import 'colors';

body {
    background-color: $body-background-color;
}
.sv-bo-module-card {
    background-color: $light-orange-color;
    color: white;
    height: 5em;
    font-size: 1.5em;

    &:hover {
        background-color: $very-light-orange-color;
        text-decoration: underline;
    }
}