@import 'materialize/materialize';

@import 'colors';

body {
    background-color: $body-background-color;
}

.sv-hide-elements {
    display: none
}

@mixin sv-top-alert {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    
    padding: 0.3em 0.7em;
    margin-top: 1em;
}

.sv-top-alert-error {
    @include sv-top-alert();
    background-color: $error-light-color;
    color: $error-color;
    border-color: $error-color;
}

.sv-top-alert-success {
    @include sv-top-alert();
    background-color: $success-light-color;
    color: $success-color;
    border-color: $success-color;
}

.sv-bo-module-card {
    background-color: $light-orange-color;
    color: white;
    height: 5em;
    font-size: 1.5em;

    &:hover {
        background-color: $very-light-orange-color;
        text-decoration: underline;
    }
}

.sv-topic-list {
    .sv-table-action-btn {
        font-size: 0.8em;
        background-color: $light-orange-color;

        &:hover {
            background-color: $very-light-orange-color;
        }

        &:focus {
            background-color: $light-orange-color;
        }
    }

    .sv-topic-deleted {
        opacity: 50%;
    }

    table {
        table-layout: fixed;

        .sv-table-cell-id {
            width: 3em;
            font-weight: bold;
        }

        .sv-table-cell-author {
            width: 6em;
        }

        .sv-table-cell-posts {
            width: 5em;
        }

        .sv-table-cell-created-at {
            width: 10em;
        }

        .sv-table-cell-edit {
            width: 7em;
        }

        .sv-table-cell-delete {
            width: 7em;
        }
    }
}

.sv-icon-plus {
    font-size: 2em;
    font-weight: 300;
}

.sv-fab-bottom-right {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.twitter-typeahead {
    .tt-input,
    .tt-hint {
        margin-bottom: 0px !important;
    }

    .tt-hint {
        color: $grey-color;
    }

    pre {
        color: black;
    }

    .tt-dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
    }

    .tt-dataset {
        @extend .card-panel;
        padding: 0;
    }

    .tt-suggestion {
        padding: 5px 10px;
        border-bottom: 1px solid $light-gray-color;

        &:hover {
            cursor: pointer;
            background-color: $light-gray-color;
        }
    }
}